
<header id="inicio">
            <img id = "menuButton" onclick="ToggleMenu()" src="~/Iconografia/hambIcon.png" class="invisible1" alt="'Hamburguer' icon, press to slide the menu">
        <nav id="navMenu">
            <ul id="menuList" class="invisible">
                <li><a  href='@Url.Action("Index", "Home")'>Home</a></li>
                <li><a href='@Url.Action("Index", "Home")#planos'>Planos</a></li>
                <li><a href='@Url.Action("Sobre", "Home")'>Sobre nós</a></li>
                <li><a href='@Url.Action("Atendimento", "Home")'>Atendimento</a></li>
                @if(String.IsNullOrEmpty((ViewBag.User))){

                <li id="login"><a href='@Url.Action("Index", "Cliente")'>Login/Cadastro</a></li>    

                }else{
                    <li id="login"><a href='@Url.Action("Logout", "Cliente")'>Logout</a></li>
                }
                @if(!String.IsNullOrEmpty(ViewBag.Adm)){
                    <li id="login"><a href='@Url.Action("Index", "Administrador")'>Administrador</a></li>
                }
                
            </ul>
            <div class="navBar"></div>
            <h1>Ponto Digital</h1>
        </nav>
    </header>